@model IEnumerable<FordSuperheroes.Models.Hero>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeroName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroMainPowers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroSecondaryPowers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatchPhrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeroName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeroMainPowers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeroSecondaryPowers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeroAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatchPhrase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
